.container{
    
    display:grid;
    grid-template-rows:100px 50px auto 50px;
    grid-template-columns: 1fr;
    grid-template-areas:
    "hd"
    "sd"
    "content"
    "ft";
}
a {
    color: black;
    text-decoration: none; 
  }
.box{
    
}

.header{
    grid-area:hd;
    background-image: url(../img/image0.jpg);
    background-size:contain;
    background-repeat:no-repeat;
    background-position: left;
    display:grid;
    grid-template-columns: 40% 60%;
    grid-template-areas:"logo site";
}
.header h1{
    grid-area:site;
    font-family: 'Comic Sans MS', 'Comic Sans', 'cursive';
    font-weight:200;
}

.sidebar{
    grid-area:sd;
}
.nav{
    border-top: 1px solid lightgray;
    border-bottom: 1px solid lightgray;
}
.nav ul{
    list-style-type:none;
    display:flex;
    justify-content:space-evenly;
    font-family: Helvetica, Arial;
}

.content{
    grid-area:content;
    padding: 0px 15px 0px 15px;
}

.footer{
    grid-area:ft;
}