@import 'foundation.css';
@import 'layout.css';
@import 'component.css';


.cards{
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    grid-gap: 20px;
}
.card{
    display: grid;
    grid-template-rows: minmax(250px,auto) 30px;
    padding-top: 5px;
}


.details{
    float: right;
}




